<div align="center">
   <br><br><br><br><br><br><br>
    <div class="input-group text-right" align="center">
      <h2 >Criar Conta Mercado</h2>
	<br>
      <br>
      <input type="text" size="25" placeholder="Email" required>
      <br>
      <br>
      <input type="text" size="25" placeholder="Senha" required>
      <br>
      <br>
      <input type="text" size="25" placeholder="Repetir Senha" required>
      <br>
      <br>
	 <input type="text" size="25" placeholder="CNPJ" required>
      <br>
      <br>
      <input type="text" size="25" placeholder="CEP" required>
      <br>
      <br>
      <button type="button" class="btn btn-danger btn-lg" (click)="addLogin()" data-toggle="modal" data-target="#exampleModal">Criar Conta</button>
         
	 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" id="exampleModalLabel">Cadastro Efetuado Com Sucesso</h1>
              
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <br><br>
              <h4>Cadastro Feito</h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>

	</div>
