
  
  <div class="jumbotron text-center">
    <h1>Market Finder</h1> 
    <p>O melhor preço na sua compra</p> 
    <form>
      <div class="input-group">
        <input type="Pesquise por produto" class="form-control" size="50" placeholder="Pesquise por produto" required>
        <div class="input-group-btn">
          <button type="button" class="btn btn-danger">Pesquisar</button>
        </div>
      </div>
    </form>
  </div>
  
  
  <div class="input-group-btn" align = "center">
          <button type="button" class="btn btn-danger btn-block btn-lg">Inserir Lista</button>
        </div>
  
      <br><br>
   <div align="center">
   <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">Exemplo de lista</button>
  
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header" >
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Lista de compras</h4>
          </div>
          <div class="modal-body" >
              <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sabão em Pó OMO</td>
          <td>2</td>
          
        </tr>
        <tr>
          <td>Arroz Tio João 5kg</td>
          <td>1</td>
          
        </tr>
        <tr>
          <td>VEJA Multiuso</td>
          <td>4</td>
          
        </tr>
      </tbody>
    </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
  
  <!-- Container (Services Section) -->
  <div id="services" class="container-fluid text-center">
    <h2>SETORES</h2>
    
  </div>
  <!-- Container (Pricing Section) -->
  <div id="pricing" class="container-fluid">
    <div class="text-center">
      <h4>Escolha um setor de interesse</h4>
    </div>
    <div class="row slideanim">
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Higiene Pessoal</h1>
          </div>
          <div class="panel-body">
            <img src="assets/img/desorante.jpg" class="img-rounded" alt="Desodorante" width="150" height="150"> 
          </div>
          <div class="panel-footer">
            <button class="btn btn-lg" routerLink="/nova-tela">Entrar</button>
          </div>
        </div>      
      </div>     
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Alimentício</h1>
          </div>
          <div class="panel-body">
         <img src="assets/img/arroz.jpg" class="img-rounded" alt="Arroz" width="150" height="150"> 
          </div>
          <div class="panel-footer">
           <button class="btn btn-lg" routerLink="/nova-tela">Entrar</button>
          </div>
        </div>      
      </div>       
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Limpeza</h1>
          </div>
          <div class="panel-body">
             <img src="assets/img/veja.jpg" class="img-rounded" alt="Desodorante" width="150" height="150">
          </div>
          <div class="panel-footer">
           <button class="btn btn-lg" routerLink="/nova-tela">Entrar</button>
          </div>
        </div>      
      </div>    
    </div>
  </div>
  
  <!-- Container (Contact Section) -->
  <div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">CONTATO</h2>
    <div class="row">
      <div class="col-sm-5">
        <p>Fale conosco, mensagens respondidas em até 24 Horas</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Brasília, Brasil</p>
        <p><span class="glyphicon glyphicon-phone"></span> +55 (61) 0000-0000</p>
        <p><span class="glyphicon glyphicon-envelope"></span> cliente@marketfinder.com</p>
      </div>
      <div class="col-sm-7 slideanim">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="Nome" name="name" placeholder="Name" type="Nome" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="-Email" name="email" placeholder="Email" type="Email" required>
          </div>
        </div>
        <textarea class="form-control" id="Comentario" name="comments" placeholder="Comentario" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Enviar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
   
  </footer>
