<div class="jumbotron text-center" routerLink="/tela-marcelo">
  <h1>Market Finder</h1>
  <p>O melhor preço na sua compra</p>
  <form>
    <div class="input-group">
      <input type="Pesquise por produto" class="form-control" size="50" placeholder="Pesquise por produto" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Pesquisar</button>
      </div>
    </div>
  </form>
</div>

<table style="width:50%" align="top">
  <tr>

    <th>Preço</th>
    <th>Produto</th>
    <th>Supermercado</th>
	<th>Distância</th>
	<th>Total</th>
  </tr>
  <tr *ngFor="let p of prods">
    <td>{{p.preco}}</td>
    <td>{{p.produto}}</td>
    <td>{{p.local}}</td>
	<td>{{p.distancia}}</td>
	<td>{{p.total}}</td>
  </tr>
</table>
<div class="input-group-btn">
  <button type="button" class="btn btn-danger">Inserir na lista</button>
</div>
<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTATO</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Fale conosco, mensagens respondidas em até 24 Horas</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Brasília, Brasil</p>
      <p><span class="glyphicon glyphicon-phone"></span> (61) 0000-0000</p>
      <p><span class="glyphicon glyphicon-envelope"></span> cliente@marketfinder.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="Nome" name="name" placeholder="Name" type="Nome" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="-Email" name="email" placeholder="Email" type="Email" required>
        </div>
      </div>
      <textarea class="form-control" id="Comentario" name="comments" placeholder="Comentario" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>



<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>

</footer>
